<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Currículum Vitae</title>
  
</head>
<body>
  <h1>Currículum Vitae</h1>
  <div class="descargar-pdf">
    <a href="/assets/img/Currículum vitae.pdf" download="CV_Axel_Lemus.pdf">Descargar PDF</a>
  </div>

  <div class="datos-personales">
    <h2>Datos personales:</h2>
    <div class="foto">
      <img src="/assets/img/yo.JPG" alt="Foto de Axel David Lemus Gómez">
    </div>
    <ul>
      <li><strong>Nombre:</strong> Axel David Lemus Gómez</li>
      <li><strong>Edad:</strong> 23 años</li>
      <li><strong>Fecha de nacimiento:</strong> 9 de marzo del 2001</li>
      <li><strong>Dirección:</strong> M. 78 L. 5 Nuevo Amanecer, zona 21</li>
      <li><strong>Teléfono:</strong> 55585306</li>
      <li><strong>Correo electrónico:</strong> axelgomez5558@gmail.com</li>
      <li><strong>Carrera:</strong> Bachiller en Ciencias y Letras con Especialidad de Técnico en Refrigeración y A/C</li>
    </ul>
  </div>

  <div class="formacion-academica">
    <h2>Formación Académica:</h2>
    <br>
    <ul>
      <li><strong>2005→2006:</strong> preprimaria. Colegio Mi Pequeño Mundo</li>
      <li><strong>2007→2012:</strong> primaria. Colegio Mi Pequeño Mundo</li>
      <li><strong>2013→2015:</strong> Nivel Básico: Instituto 14 de julio de 1789</li>
      <li><strong>2016→2018:</strong> Diversificado. Instituto técnico de capacitación y productividad (Intecap CG1)</li>
      <li><strong>2022→2024:</strong> Universidad: Universidad Mariano Gálvez de Guatemala (actualmente cerrando el quinto año de Universidad de Ingeniería en Sistemas)</li>
    </ul>
  </div>

  <div class="experiencia-laboral">
    <h2>Experiencia laboral:</h2>
    <br>
    <ul>
      <li><strong>2019→2020:</strong> ARV ingeniería</li>
      <li><strong>2021→2024:</strong> ICE S.A.</li>
    </ul>
  </div>

 
  <script>
    function descargarPDF() {
      const url = '/assets/img/Currículum vitae.pdf'; // Reemplaza la URL con la ruta correcta al PDF
      const link = document.createElement('a');
      link.href = url;
      link.download = 'CV_Axel_Lemus.pdf';
      document.body.appendChild(link);
      link.click();
      document.body.removeChild(link);
    }
  </script>
<footer>
  <p>&copy; 2024 Axel Lemus - Desarrollador Web</p>
</footer>
</body>

</html>
