#container{
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  background-color: #e5e5e5;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  height: 50px; /* Ajusta la altura si es necesario */
  width: 20%;
}

.tab {
  display: flex;
  flex-direction: column; /* Cambia la dirección de los elementos a vertical */
  justify-content: flex-end; /* Alinea los elementos en el lado derecho */
  align-items: flex-start; /* Alinea los elementos en la parte superior */
}

svg {
  display: block;
  margin: auto;
  transition: 200ms ease-in-out;
}



.seleccionado{
  background-color: #0b0be7;
}
