<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nombre - Desarrollador Web</title>
  <style>
   
  </style>
</head>
<body>

  <header>
    <h1>Nombre - Desarrollador Web</h1>
  </header>

  <div class="container">
    <h2>Sobre mí</h2>
    <p>Soy un apasionado desarrollador web con experiencia en HTML, CSS, JavaScript y otras tecnologías web modernas. Me encanta crear sitios web hermosos y funcionales que brinden una excelente experiencia al usuario.</p>
    
    <h2>Experiencia</h2>
    <p>Tengo experiencia trabajando en proyectos de desarrollo web tanto de forma independiente como en equipos de trabajo. He participado en el diseño y desarrollo de aplicaciones web desde cero, así como en la optimización y mantenimiento de sitios existentes.</p>

    <h2>Educación</h2>
    <p>Actualmente estoy estudiando en la Universidad Mariano Gálvez de Guatemala, donde me especializo en Ingeniería en Sistemas. Mi formación académica me ha proporcionado una base sólida en conceptos fundamentales de la informática y programación, así como la capacidad para aprender y adaptarme rápidamente a nuevas tecnologías.</p>

 
    <h2>Habilidades</h2>
    <div class="skills">
      <ul>
        <li>HTML5</li>
        <li>CSS3</li>
        <li>JavaScript</li>
        <li>React.js</li>
        <li>Node.js</li>
        <li>SQL</li>
        <li>Git</li>
        <li>Bootstrap</li>
        <li>SASS</li>
      </ul>
    </div>
  </div>

  <footer>
    <p>&copy; 2024 Axel Lemus - Desarrollador Web</p>
  </footer>

</body>
</html>
