<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página de Presentación</title>
 
</head>
<body>
  <header>
   
  </header>

  <div class="container">
    <div id="tarjetas-container" class="margen-chico">
      <!-- Aquí va tu contenido de tarjetas -->
    </div>
    <div class="flex-center">
      <a [routerLink]="['/carrito']" routerLinkActive="router-link-active">¡Conoce más de mí!</a>
    <br>
      <a [routerLink]="['/buscar']" routerLinkActive="router-link-active">¡Que hago!</a>
    <br>
      <a [routerLink]="['/perfil']" routerLinkActive="router-link-active">
        <img src="./../../../assets/icons/lapiz.png" alt="Editar"> ¡Conoce mi perfil!
      </a>
    </div>
  </div>

  <footer>
    <p>&copy; 2024 Axel Lemus - Desarrollador Web</p>
  </footer>
</body>
</html>
